@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,600&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}


/* colors used: 
              - green:#0eb582 
              - light-green:#f0fdfa 
              - light-color:#777 
              - light-white:#eee 
              - black:#444
              - white:#fff              
              */

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.6rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #0eb582);
    border-radius: 6px;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#0eb582, #062a79, #062a79);
}

section {
    padding: 5rem 10%;
}


/* ------ header section style starts ------ */

.header {
    /*position: -webkit-sticky;*/
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    /*-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 10%;
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    display: flex;
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    align-items: center;
    z-index: 1000;
}

.header .logo {
    margin-right: auto;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #444;
    font-weight: bolder;
}

#heure {
    margin-right: 20em;
    color: #062a79;
    font-size: 1.9rem;
    font-weight: bold;
}

#heure:hover {
    color: #0eb582;
}

.fa-clock {
    color: #062a79;
    margin-right: 3px;
    font-size: 2.5rem;
}

.fa-clock:hover {
    transform: rotate(360deg);
}

.header .logo:hover {
    letter-spacing: 5px;
    text-decoration: underline;
}

.header .logo i {
    color: #062a79;
}

.header .navbar {
    position: relative;
}

.header .navbar #close-navbar {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #444;
    display: none;
}

.header .navbar #close-navbar:hover {
    transform: rotate(90deg);
}

.header .navbar a {
    margin-right: 2rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
}

.header .navbar a i {
    color: #0eb582;
}

.header .navbar a:hover {
    color: #fff;
    background-color: #062a79;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    letter-spacing: 2px;
}

.header .icons div {
    cursor: pointer;
    font-size: 2.5rem;
    color: #444;
    margin-left: 1.5rem;
}

.header .icons div:hover {
    color: #0eb582;
}

.header #menu-btn {
    display: none;
}


/* ------- header section style ends ------ */


/* ------- acount-form section style starts ------ */

#account-btn {
    font-size: 40px;
}

.account-form {
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    gap: 2rem;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    z-index: 1200;
    padding: 2rem;
    text-align: center;
    background-image: url(..//images/background.jpg);
    background-size: cover;
    background-blend-mode: luminosity;
}

.account-form.active {
    right: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    box-shadow: 20px 20px 20px 100vw rgba(0, 0, 0, 0.8);
}

.account-form #close-form {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 4rem;
    cursor: pointer;
    color: #000;
}

.account-form #close-form:hover {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.account-form form {
    border: 0.4rem solid #fff;
    padding: 2rem;
    display: none;
}

.account-form form.active {
    display: block;
}

.account-form form h3 {
    font-size: 3rem;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: .5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.account-form form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.2wrem solid #062a79;
    font-size: 1.6rem;
    margin: .7rem 0;
    border-radius: 5px;
}

.account-form form .flex {
    padding: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .5rem;
}

.account-form form .flex label {
    font-size: 1.5rem;
    color: #f0fdfa;
    cursor: pointer;
    font-weight: bold;
}

.account-form form .flex a {
    font-size: 1.5rem;
    color: #f0fdfa;
    margin-left: auto;
    font-weight: bold;
}

.account-form form .flex a:hover {
    text-decoration: underline;
    color: #fbff1e;
}

.account-form form .btn {
    width: 100%;
}

.account-form .buttons .btn {
    margin: 0 .5rem;
}

.account-form .buttons .btn.active {
    background: #062a79;
    color: #fff;
}


/*.account-form .buttons .btn.active {
    background: #0eb582;

color: #0eb582;

}
*/


/*
.btn.active:hover {
    background: #062a79;
    color: #fff;
}
*/

.btn:hover {
    background: #062a79;
    color: #fff;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: 0.1rem solid #062a79;
    background: #f0fdfa;
    color: #062a79;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 20px;
}

.eye1 {
    color: #062a79;
    position: absolute;
    transform: translate(0%, -50%);
    top: 55%;
    left: 28rem;
    font-size: 19px;
    cursor: pointer;
}

.eye2 {
    color: #062a79;
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 26.5rem;
    transform: translate(0%, -50%);
}


/* ------- acount-form section style ends ------ */


/* ------- home section style starts  -------*/

.home {
    padding: 0;
}

.home .slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 60rem;
    background-size: cover !important;
    background-position: center !important;
}

.home .slide .content {
    width: 50rem;
    margin-left: 90px;
}

.home .slide .content h3 {
    font-size: 5rem;
    text-transform: capitalize;
    color: #444;
    color: #fff;
}

.home .slide .content p {
    font-size: 1.6rem;
    line-height: 2;
    color: #777;
    color: #eee;
    padding: 1rem 0;
}

.swiper-pagination-bullet-active {
    background: #0eb582;
}


/* ------- home section style endss  -------*/


/* ------- subjects section style  starts ------ */

.heading {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    text-transform: capitalize;
    color: #444;
}

.subjects .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}

.subjects .box-container .box {
    padding: 3rem 2rem;
    text-align: center;
    border: 0.1rem solid #062a79;
    background: #f0fdfa;
    border-radius: 8px;
    cursor: pointer;
}

.subjects .box-container .box:hover {
    background: #062a79;
}

.subjects .box-container .box:hover h3 {
    color: #fff;
}

.subjects .box-container .box:hover p {
    color: #eee;
}

.subjects .box-container .box img {
    height: 10rem;
    margin-bottom: .7rem;
}

.subjects .box-container .box h3 {
    font-size: 1.7rem;
    text-transform: capitalize;
    color: #444;
    padding: .5rem 0;
}

.subjects .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
}


/* ------- subjects section style  ends ------ */


/* ------- home courses slider section style starts ------ */

.home-courses .slide {
    text-align: center;
    position: relative;
    background: #f0fdfa;
    overflow: hidden;
    height: 50em;
    width: 50em;
}

.home-courses .slide:hover .content {
    bottom: 0;
}

.home-courses .slide .image {
    padding: 2rem;
}

.home-courses .slide .image img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.home-courses .slide .image h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
}

.home-courses .slide .content {
    position: absolute;
    bottom: -100%;
    right: 0;
    left: 0;
    background: #062a79;
    padding: 2rem 3rem;
}

.home-courses .slide .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    color: #fff;
}

.home-courses .slide .content p {
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    color: #eee;
}

.home-courses .slide .content .btn {
    color: #062a79;
}

.home-courses .slide .content .btn:hover {
    background: #0eb582;
    color: #fff;
}

.home-courses .home-courses-slider .swiper-pagination {
    width: 30px;
}


/* ------- home courses slider section style  ends ------ */


/* -------------------------------------------------------------------- about.html page style starts ------------------------------------------------------------------------------------------------------------------------ */


/* ------- about section style starts  --------*/

.heading-link {
    text-align: center;
    background: url(../images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.heading-link h3 {
    font-size: 4rem;
    text-transform: capitalize;
    color: #444;
}

.heading-link p {
    font-size: 2rem;
    line-height: 2;
    color: #777;
}

.heading-link p a {
    color: #062a79;
}

.heading-link p a:hover {
    text-decoration: underline;
}

.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 3rem;
}

.about .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .image img {
    width: 100%;
}

.about .content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.about .content .about-title {
    font-size: 3rem;
    text-transform: capitalize;
    color: #444;
}

.about .content p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    padding: 1rem 0;
}

.about .content .icons-container {
    margin-top: 1rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 2rem;
}

.about .content .icons-container .icons {
    text-align: center;
    border: 0.1rem solid #062a79;
    background: #f0fdfa;
    padding: 3rem 2rem;
}

.about .content .icons-container .icons:hover {
    background: #062a79;
    color: #fff;
}

.about .content .icons-container .icons img {
    height: 5rem;
    margin-bottom: .5rem;
}

.about .content .icons-container .icons h3 {
    padding: .5rem 0;
    font-size: 3rem;
    text-transform: capitalize;
}

.about .content .icons-container .icons span {
    font-size: 1.5rem;
    line-height: 2;
}


/* ------- about section style  ends --------- */


/* ------- teachers section style starts --------*/

.teachers .slide {
    text-align: center;
    height: 520px;
    width: 450px;
}

.teachers .slide:hover .image img {
    background: #062a79;
}

.teachers .slide:hover .image .share {
    bottom: 0;
}

.teachers .slide .image {
    position: relative;
    overflow: hidden;
}

.teachers .slide .image img {
    background: #f0fdfa;
    width: 100%;
}

.teachers .slide .image .share {
    position: absolute;
    bottom: -10rem;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 2rem;
}

.teachers .slide .image .share a {
    font-size: 3rem;
    margin: 0 1rem;
    color: #fff;
}

.teachers .slide .image .share a:hover {
    color: #0eb582;
}

.teachers .slide .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.teachers .slide .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
}

.teachers .slide .content span {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
}


/* ------- teachers section style ends --------*/


/* ------- students reviews section style starts -------*/

.reviews .slide {
    text-align: center;
}

.reviews .swiper-pagination {
    height: 135px;
}

.reviews .slide p {
    font-size: 1.5rem;
    line-height: 2;
    color: #062a79;
    position: relative;
    background: #f0fdfa;
    border: 0.2rem solid #062a79;
    margin-bottom: 3rem;
    padding: 2rem;
}

.reviews .slide p:hover {
    background-color: #0eb582;
    font-weight: bold;
}

.reviews .slide p::before {
    content: '';
    position: absolute;
    bottom: -1.2rem;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    background: #f0fdfa;
    border-bottom: 0.1rem solid #062a79;
    border-right: 0.1rem solid #062a79;
    height: 2rem;
    width: 2rem;
}

.reviews .slide p:hover::before {
    background-color: #0eb582;
}

.reviews .slide img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
}

.reviews .slide h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #444;
    padding: .5rem 0;
}

.reviews .slide .stars {
    font-size: 1.2rem;
    color: #fbff1e;
}


/* ------- students reviews section style ends -------*/


/* ------------------------------------------------------------- about.html page style ends ---------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------ courses.html page  style starts ----------------------------------------------------------------------------------------------------------- */

.courses .box-container {
    /*display: -ms-grid;*/
    display: grid;
    /*-ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.courses .box-container .box:hover .image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.courses .box-container .box.hide {
    display: none;
}

.courses .box-container .box .image {
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.courses .box-container .box .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.courses .box-container .box .image h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #444;
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: .5rem 1.5rem;
    background: #fff;
}

.courses .box-container .box .content {
    padding: 2rem;
    text-align: center;
    border: 0.2rem solid #062a79;
}

.courses .box-container .box .content h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
}

.courses .box-container .box .content p {
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 2;
    color: #777;
}

.courses .box-container .box .content .icons {
    /*display: -webkit-box;
    display: -ms-flexbox;*/
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 0.1rem solid #062a79;
}

.courses .box-container .box .content .icons span {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #444;
}

.courses .box-container .box .content .icons span i {
    color: #062a79;
    padding-right: .5rem;
}

.courses .load-more {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

#man {
    background-color: #f0fdfa;
    border-radius: 20px;
    margin-top: 20rem;
}

#man1 {
    padding: 1rem 1rem;
    font-size: 1.6rem;
    line-height: 2;
    color: #777;
}

#man2 {
    margin-left: 50%;
    margin-bottom: 10rem;
}

#man3 {
    padding-top: 5rem;
}


/* ------------------------------------------ cousres.html page style ends -------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------ contact.html page style starts -------------------------------------------------------------------------------------------------------*/


/* ---- contact section style starts ----- */

.contact .icons-container {
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.contact .icons-container .icons {
    text-align: center;
    padding: 3rem 2rem;
    border: 0.1rem solid #0eb582;
    background: #f0fdfa;
}

.contact .icons-container .icons i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    margin-bottom: .5rem;
    color: #fff;
    background: #062a79;
}

.contact .icons-container .icons h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    padding: .5rem 0;
}

.contact .icons-container .icons p {
    font-size: 1.5rem;
    line-height: 2;
    color: rgb(44, 44, 42);
}

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .row .image {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
}

.contact .row .image img {
    width: 70%;
}

.contact .row form {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    border: 0.1rem solid #062a79;
    padding: 2rem;
}

.contact .row form h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #444;
    padding-bottom: 1rem;
}

.contact .row form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #062a79;
    font-size: 1.6rem;
    margin: .7rem 0;
}

.contact .row form .box:focus {
    background: #062a79;
    color: #fff;
}

.contact .row form .box:focus::-webkit-input-placeholder {
    color: #eee;
}

.contact .row form .box:focus::-ms-input-placeholder {
    color: #eee;
}

.contact .row form .box:focus::placeholder {
    color: #eee;
}

.contact .row form textarea {
    height: 15rem;
    resize: none;
}


/* ------ contact section style ends ----- */


/* ----- faq section style starts ------ */

.faq .accordion-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.faq .accordion-container .accordion {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 40rem;
    flex: 1 1 40rem;
    border: 0.1rem solid #062a79;
}

.faq .accordion-container .accordion.active .accordion-heading {
    background: #062a79;
}

.faq .accordion-container .accordion.active .accordion-heading h3 {
    color: #fff;
}

.faq .accordion-container .accordion.active .accordion-heading i {
    color: #fff;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.faq .accordion-container .accordion.active .accordion-content {
    display: block;
}

.faq .accordion-container .accordion .accordion-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    cursor: pointer;
    padding: 1.5rem;
}

.faq .accordion-container .accordion .accordion-heading h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
}

.faq .accordion-container .accordion .accordion-heading i {
    font-size: 2rem;
    color: #062a79;
}

.faq .accordion-container .accordion .accordion-content {
    padding: 1.5rem;
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    border-top: 0.1rem solid #062a79;
    display: none;
}


/* ----- faq section style ends ------- */


/* ----- logo slider section style starts ------- */

.logo-container {
    text-align: center;
    height: 30em;
}

.logo-container img {
    height: 20rem;
    pointer-events: none;
    padding-bottom: 40px;
}

.logo-container .swiper-pagination {
    height: 10px;
    padding: 20px 40px;
}


/* ----- logo slider section style ends ------- */


/* ------------------------------------------ contact.html page style ends -------------------------------------------------------------------------------------------------------*/


/*SCROLLING TEXT*/

.marqu {
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}


/* ------- footer section style  starts ------- */

section {
    padding: 5rem 10%;
}

.footer {
    background-color: #f0fdfa;
}

.footer .box-container {
    /*display: -ms-grid;*/
    display: grid;
    /*-ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];*/
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #444;
    padding: 1rem 0;
}

.footer .box-container .box h3 i {
    color: #062a79;
}

.footer .box-container .box .share {
    margin-top: 1rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background-color: #062a79;
    color: #fff;
    margin-right: .3rem;
    text-align: center;
    border-radius: 6px;
}

.footer .box-container .box .share a:hover {
    background-color: #0eb582;
    border-radius: 10px;
}

.footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: #777;
    padding: .5rem 0;
    display: block;
}

.footer .box-container .box .link:hover {
    color: #062a79;
    text-decoration: underline;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    padding: 1rem 0;
}

.footer .box-container .box .email {
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    border: 0.1rem solid #062a79;
    margin-bottom: 1rem;
}

.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid #062a79;
}

.footer .credit span {
    color: #062a79;
    font-size: 3rem;
}


/* ------- footer section style  ends ------- */


/* media queries  */

@media (max-width:991px){

    html{
       font-size: 55%;
    }
 
    .home .row .content h3{
       font-size: 8rem;
    }
 
 }
 
 @media (max-width:768px){
 
    #menu-btn{
       display: inline-block;
    }
 
    #menu-btn.fa-times{
       transform: rotate(180deg);
    }
 
    .header .flex .navbar{
       position: absolute;
       top:99%; left:0; right:0;
       border-top: .1rem solid var(--light-white);
       border-bottom: .1rem solid var(--light-white);
       background-color: var(--light-bg);
       clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
 
    .header .flex .navbar.active{
       clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    .header .flex .navbar a{
       display: block;
       margin:2rem;
    }
 
    .home .row .content h3{
       font-size: 6rem;
    }
 
 }
 
 @media (max-width:450px){
 
    html{
       font-size: 50%;
    }
    
    .home .row .content h3{
       font-size: 5rem;
    }
 
    .heading{
       font-size: 3rem;
    }
 
 }

#checkbox-control {
    text-align: center;
    background: #f0fdfa;
    border: none;
    font-size: 15px;
}

.first-btn {
    padding: 10px 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 9px #999;
    background-color: #062a79;
    margin-right: 200px;
}

.first-btn:hover {
    background-color: #0eb582;
}

.first-btn:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*# sourceMappingURL=style.css.map*/